/* Title of the page */
.title {
    text-align: center;
    color: #28a745;
}

.title:hover {
    color: #007bff;
    cursor: default;
}

/* Changes in navbar */
.navbar-brand {
    color: #28a745;
}

/* notes */
#notes {
    padding: 2px 100px 2px;
    /* text-align: center; */
    margin: auto;
}